body {
    background-image: url('../../../public/images/bg.jpg');
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  
  .animation {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 50vh;
    background-image: url('../../../public/images/laugh.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  

  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
  }
  
  .form h3 {
    margin-bottom: 0.5vh;
    font-size: 2.5rem;
    color:  #ff4d6b;
  }
  
  .form input {
    padding: 1vh;
    width: 30vw;
    margin-bottom: 3vh;
    background-color:  #e6f2ff;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn button {
    padding: 1vh 2vw;
    background-color: #d891ef;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn button:hover {
    background-color: #d891ef;
  }
  