.MovieDate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10vw;
}

.MovieDate_animation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Set a higher z-index to position it above the content */
  width: 50vw;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.yes-animation .MovieDate_animation {
  background-image: url('../../public/images/puffy-bear-love.gif');
}

.no-animation .MovieDate_animation {
  background-image: url('../../public/images/bird-cute.gif');
}

.wait-animation .MovieDate_animation {
  background-image: url('../../public/images/peach-goma.gif');
}

.MovieDate.yes-animation .MovieDate_animation,
.MovieDate.no-animation .MovieDate_animation,
.MovieDate.wait-animation .MovieDate_animation {
  opacity: 1;
}

.content {
  text-align: center;
  position: relative; /* Ensure the content is positioned relative */
  z-index: 2; /* Set a z-index to position it above the animation */
}

.date {
  font-size: 2rem;
  color: #d891ef;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yes, .no {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4CAF50; /* Green for 'Yes' button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.no {
  background-color: #f44336; /* Red for 'No' button */
}

.yes:hover, .no:hover {
  background-color: #45a049; /* Darker green/red on hover */
}

h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #e74c3c; /* Red color for negative response */
}
